<div id="home_container" class="h-screen p-8 bg-gradient-to-b from-faded-purple to-black">

    <div id="recomendation_dropdown" class="flex justify-center">
        <select
            class="appearance-none outline-none bg-green rounded-full p-2 px-auto text-lg text-white text-center font-bold w-3/4"
            id="playlists">
            <!-- TO-DO: Terug zetten bij select na het toepassen van styling onchange="fetchTracks()" -->
        </select>
    </div>

    <div id="song_data" class="flex flex-col justify-center">
        <img id="albumImage" class="pt-4" src="assets/img/album.jpg">
        <div id="song_text" class="pt-12 pb-4">
            <h1 id="trackTitle" class="font-bold text-2xl text-white">Select a playlist</h1>
            <h2 id="trackArtist" class="text-xl text-gray">Artist</h2>
        </div>
    </div>

    <div class="bg-gray rounded overflow-hidden mb-1.5">
        <div style="width: 50%" class="bg-white p-0.5 rounded-sm"></div>
    </div>

    <div id="time" class="flex justify-between text-gray">
        <div id="current_time">0:05</div>
        <div id="total_time">0:10</div>
    </div>

    <div id="control_container">
        <div class="flex justify-evenly items-center">
            <div class="" onclick="dislike()">
                <img src="assets/icon/dislike.svg">
            </div>
            <div id="play_button" class="grid grid-rows-1 grid-cols-1">
                <img id="play_button_icon" class="z-10 row-start-1 col-start-1 self-center justify-self-center"
                    src="assets/icon/play.svg">
                <img class="z-0 row-start-1 col-start-1" src="assets/icon/elipse.svg">
            </div>
            <div class="" onclick="like()">
                <!-- <img src="assets/icon/like.svg"> -->
                <svg width="32.991" height="30.081" style="overflow: visible">
                    <path fill="none" pointer-events="all" id="heart-64"
                        class="text-blue fill-transparent stroke-white hover:transition-all duration-1000 ease-in-out hover:fill-green hover:stroke-green"
                        d="M44.309,27.591a9.336,9.336,0,0,0-12.633-.579,1.941,1.941,0,0,1-1.116.4,1.86,1.86,0,0,1-1.121-.4A9.382,9.382,0,0,0,16.778,40.825L27.665,53.572a3.806,3.806,0,0,0,5.789,0l10.853-12.71A9.4,9.4,0,0,0,44.309,27.591Z"
                        transform="translate(-14.063 -24.826)" />
                </svg>
            </div>
        </div>

        <!-- 
            TO-DO: Implement undo function
            <div class="flex justify-center py-8">
            <img src="assets/icon/undo.svg">
            </div> 
        -->
    </div>

</div>